$background: #363640;
$menu: #171721;
$accent: #F22E9C;
$color: #FFF;
$button-size: 35px;
$transition: 200ms;
$easeInCirc: cubic-bezier(0.4, 0, 1, 0.4);
$easeOutCirc: cubic-bezier(0, 0.4, 0.4, 1);

@mixin line {
	display: inline-block;
	width: 35px;
	height: 3px;
	background: $color;
	border-radius: 2px;
	transition: $transition;
}

body {
	background-color: $background;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#band {
	background-color: $menu;
	color: #FFF;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;

	h1 {
		float: left;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 70px;
		margin: 0 0 0 20px;
		text-transform: uppercase;
	}

	em {
		color: $accent;
		font-style: normal;
	}

	img {
		float: left;
		margin: 3px 0 0;
		max-height: 62px;
	}
}

#menuToggle {
	background-color: $menu;
	color: #FFF;
	cursor: pointer;
	font-size: 24px;
	height: 70px;
	line-height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 70px;
}

.lines-button {
  display: inline-block;
  transition: 300ms;
  cursor: pointer;
  width: 100%;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.lines {

	@include line;
	position: relative;
	top: -4px;

	&:before, &:after {

		@include line;
		position: absolute;
		left:0;
		content: '';
		transform-origin: center center;
	}

	&:before { top: $button-size/4; }
	&:after { top: -$button-size/4; }
}

.lines-button.x2 .lines {
    transition: background 0 350ms ease;

    &:before, &:after{
      //set transform origin back to center
      transform-origin: 50% 50%;
      transition: top 350ms 350ms $easeOutCirc, transform 350ms $easeInCirc;
    }
}

.lines-button.x2.close .lines {

    transition: background 0 350ms ease;
    background: transparent;

    &:before, &:after{
      transition: top 350ms $easeInCirc, transform 350ms 350ms $easeOutCirc;
      top:0;
      width: $button-size;
    }
    &:before{
      transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg);
    }
}

/* Menu */
#menu {
    background: $menu;
    position: fixed;
    width: 160px;
    height: 100%;
    top: 0;
    z-index: 3;
    right: -160px;
    transition: all 0.3s ease;
}

#menu > div {
  position: relative;
  top: 100px;
}

#menu.open {
    right: 0;
}

#menu a {
	border-left: 6px solid $menu;
    display: block;
    color: #FFF;
    font-family: 'Lato', sans-serif;
	font-size: 18px;
	padding: 20px 25px;
	margin: 0 0 10px;
	text-align: center;
	text-decoration: none;
	width: 104px;
}

#menu .active,
#menu .active:hover {
	border-left: 6px solid $accent;
}

#memu strong {
	font-weight: 700;
	font-size: 14px;
}

#menuClose {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}

#menuClose.open { display: block; }

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 0;
	overflow: hidden;
	top: 0;
	z-index: 3;
	user-select: none;
	text-size-adjust: none;
}

#scroller {
	list-style: none;
	margin: -150px 0 0;
	padding: 0;
	position: absolute;
	top: 50%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transform: translateZ(0);
}

#scroller li {
	float: left;
	height: 300px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 280px;
}

#scroller li img {
	height: 300px;
	width: 250px;
}

/* Play video icons */
.overlay {
	background-color: transparent;
	border: 3px solid rgba(0, 0, 0, 0.9);
	border-radius: 35px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
	height: 64px;
	left: 50%;
	line-height: 62px;
	margin: -32px 0 0 -32px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 64px;
	z-index: 11;
}

.overlay span {
	background-color: rgba(0, 0, 0, 0.9);
	border: 5px solid #FFF;
	border-radius: 64px;
	display: block;
	height: 54px;
	width: 54px;
}

li:hover .overlay span {
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay i {
	color: #FFF;
	font-size: 24px;
	margin: 0 0 0 3px;
}

li:hover .overlay i {
	color: $accent;
}

.scrollerNavigation {
	background-color: $menu;
	bottom: 0;
	cursor: pointer;
	font-size: 24px;
	height: 70px;
	line-height: 70px;
	position: absolute;
	text-align: center;
	width: 70px;
	z-index: 10;
}

.scrollerNavigation i {
	color: #FFF;
	font-size: 24px;
	transition: all 300ms ease-in-out;
}

.scrollerNavigation.disabled i {
	opacity: 0.2;
}

.scrollerNavigation.disabled:hover i {
  color: #FFF;
}

.scrollerNavigation:hover i {
	color: $accent;
}

#scrollerPrevious { left: 0 }

#scrollerNext { right: 0 }

#horizon {
	background: linear-gradient(to bottom, $background 0%, $background 83%, transparent 100%);
	height: 60%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

#grid {
	background-color: $background;
	background-image: -moz-linear-gradient(45deg, $accent 25%, transparent 25%), -moz-linear-gradient(-45deg, $accent 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, $accent 75%), -moz-linear-gradient(-45deg, transparent 75%, $accent 75%);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #eb008a), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #eb008a), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #eb008a)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #eb008a));

	background-size: 80px 80px;
	transform: rotateX(80deg) translate(0, 0);
	transform-origin: top;
	background-position: 0 0, 40px 0, 40px -40px, 0px 40px;
	height: 120%;
	left: -2000px;
	position: relative;
	top: 50%;
	width: 6000px;
}

#stage {
	background: $background;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	perspective: 600px;
}

#videoPlayer {
    background-color: $menu;
    display: block;
    height: 315px;
	left: 50%;
    margin: -157px 0 0 -283px;
    padding: 10px;
	position: absolute;
    top: -300px;
    transition: top 1s ease-in-out;
    width: 576px;
    z-index: 4;
}

#videoPlayer.dropin {
	top: 50%;
}

#videoClose {
	background-color: $menu;
	cursor: pointer;
	height: 50px;
	position: absolute;
	top: 0;
	right: -50px;
	width: 50px;
}

/* Width Based */
@media all and (max-width: 767px) {
	#logo { width: 100%; }
}

@media all and (max-width: 549px) {
	#logo { top: 25px; }
	#logo h1 {
		font-size: 40px;
		line-height: 65px;
	}
}

@media all and (max-width: 399px) {
	#logo h1 {
		font-size: 28px;
		line-height: 65px;
	}
}

@media all and (max-width: 321px) {
	#wrapper #scroller li { width: 320px; }
}

/* Height Based */
@media all and (max-height: 550px) {
	#logo { top: 25px; }
}

@media all and (max-height: 500px) {
	#scroller { top: auto; bottom: 10%; }
}

@media all and (max-height: 450px) {
	#scroller { top: auto; bottom: 0%; }
}

@media all and (max-height: 400px) {
	#scroller { top: auto; bottom: 0%; }
	#logo { top: 5px; }
	#logo h1 {
		font-size: 28px;
		line-height: 65px;
	}
}

@media all and (max-height: 365px) {
	#logo { top: 5px; }
	#logo h1 {
		font-size: 28px;
		line-height: 65px;
	}
	#wrapper #scroller {
		bottom: 20%;
	}
	#wrapper #scroller li {
		height: 200px;
		width: 170px;
	}
	#wrapper #scroller li img {
		height: 200px;
		width: 167px;
	}
	#scroller li .overlay {
		bottom: 20px;
		left: 50%;
	}
}

@media all and (max-height: 330px) {
	#wrapper #scroller { bottom: 10%; }
}